[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "outerbase"]
	path = outerbase
	url = https://github.com/mattplumlee/outerbase
